<!DOCTYPE html>
<html>
<head><title>Game 1</title></head>
<script type="text/javascript">
  play = function(){
    score = Math.floor(Math.random() * Math.floor(100));
    alert(score);
  }
</script>
<body>
<h1>Welcome <%= username %> to the random game !</h1>
<h2> Your score : <%= userscore %></h2>
<button onclick="play()" >Play</button>
<form action = "/chooseGame" method = "post">
  <input type = "submit" value = "Save score and go back to menu">
  <input type = "hidden" id = "name" name = "name" value = "<%= username %>">
</form>
</body>
</html>
