<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Sign up page</title>
</head>
<body>
<h1 class="text-center text-dark">Sign up</h1>
<form action ="/chooseGame" method = "post">  <!-- Form to submit id -->
<div class="pt-5 text-center">
<label for="name">Enter your id: </label>
<input type="text" name="name" id="name" required>
</div>
<div class="text-center">
<input type = "submit" class="pt-2 btn btn-success btn-lg" value = "Register">
</form>
</div>
<div class="pt-2 text-center text-danger"> <!-- Error displayed if the username is already used -->
  <%= error %>
</div>
</body>
</html>
