<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Client</title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
  </head>
  <body>
    <div id='div_getAll'>
      <form action="/getAllTasks" method="get">
        <input type ="submit">
      </form>
    </div>
    <div id='div_get'>
      GET
    </div>
    <div id='div_post'>
      POST
    </div>
    <div id='div_put'>
      PUT
    </div>
    <div id='div_delete'>
      DELETE
    </div>
    <div id='div_text'>
    </div>
  </body>
  <script src="js/proxyClient.js"></script>

</html>
